{% load tethys %}
<div class="header-button glyphicon-button">
    <a href="{% url 'earth_engine:home' %}" title="Home"><i class="bi bi-house-door-fill"></i></a>
</div>
<div class="header-button glyphicon-button">
    <a href="{% url 'earth_engine:about' %}" title="About"><i class="bi bi-info-circle-fill"></i></a>
</div>
<div class="header-button glyphicon-button">
    <a data-bs-toggle="modal" data-bs-target="#disclaimer-modal" title="Disclaimer"><i class="bi bi-exclamation-diamond-fill"></i></a>
</div>