{% extends "earth_engine/base.html" %}
{% load tethys_gizmos static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'earth_engine/css/no_nav.css' %}" />
  <link rel="stylesheet" href="{% static 'earth_engine/css/home.css' %}" />
{% endblock %}

{% block app_navigation_override %}
{% endblock %}

{% block app_content %}
<div  id="home-content-container" class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="info-container">
        <h2 id="about-container" class="info-title">About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget est lorem ipsum dolor sit amet. Morbi tincidunt augue interdum velit euismod in pellentesque.</p>
        <p>Ac felis donec et odio pellentesque. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor. Sed euismod nisi porta lorem mollis. Nisi scelerisque eu ultrices vitae. Sit amet consectetur adipiscing elit duis. At in tellus integer feugiat scelerisque varius morbi enim.</p>
        <img id="feature-image" src="{% static 'earth_engine/images/earth-engine-viewer.png' %}">
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div id="resources-container" class="info-container">
            <h2 class="info-title">Resources</h2>
            <div class="media">
              <div class="media-left">
                <a href="#coast">
                  <img class="media-object" src="{% static 'earth_engine/images/coast_80_80.jpg' %}" alt="">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Lorem Ipsum Dolor</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#condensation">
                  <img class="media-object" src="{% static 'earth_engine/images/condensation_80_80.jpg' %}" alt="">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Ut Enim Ad Minim</h4>
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <a href="#waterfall">
                  <img class="media-object" src="{% static 'earth_engine/images/waterfall_80_80.jpg' %}" alt="">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Duis Aute Irure</h4>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="info-container">
            <h2 class="info-title">Get Started</h2>
            <p>Press the button below to launch the viewer</p>
            <a id="get-started-btn" href="{% url 'earth_engine:viewer' %}">Launch Viewer</a>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
{% endblock %}



