#plot-loader {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

#plot-loader p {
    text-align: center;
}

#plot-modal .modal-body {
    min-height: 480px;
}

.modal-dialog {
    max-width: 70vw;
    margin: 1.75rem auto;
}